<form action="/auth/login" , method="post", id="login">
    <header id="dah">DIABETES@HOME</header>
    <div id="backSquare"></div>
    <table id='logDetails'>
        <tr id = 'username'>
            <td><label for='nameInput'>Username</label></td>
            <tr><td><input type='text' name="username" id="usernamebox"/></td></tr>
        </tr>
        <tr id = 'password'>
            <td><label for='ageInput'>Password</label></td>
            <tr><td><input type='password' name="password" id="passwordbox"/></td></tr>
        </tr>
        <tr>
            <td colspan='2'><input type='submit' value="Login" id="loginbutton"/></td>
        </tr>
    </table>
    
     <p id="register"><a href="./register">register</a></p>
</form>