<form action="/auth/login" , method="post">
    <legend>Login as clinician</legend>
    <hr>
    <table id='logDetails'>
        <tr>
            <td><label for='nameInput'>username</label></td>
            <td><input type='text' name="username" /></td>
        </tr>
        <tr>
            <td><label for='ageInput'>password</label></td>
            <td><input type='password' name="password" /></td>
        </tr>
        <tr>
            <td colspan='2'><input type='submit' /></td>
        </tr>
    </table>
    <hr>
    <p>Don't have an account?</p><a href="./register">register</a>
</form>